.textarea_container {
	position: relative;
}

.textarea_custom {
	min-width: 100%;
	min-height: 7rem;
	resize: vertical;
}

.textarea_error {
	text-align: center;
	width: 100%;
	color: rgb(255, 77, 45);
	background: rgba(255, 99, 71, .2);
	padding: .5rem;
	position: absolute;
	bottom: 5px;
	transition: all .2s linear;
}

.input_container {
	display: inline-block;
	position: relative;
	margin: 1rem 0;
}

.input_custom {
	min-width: 27rem;
}

.popup_error {
	position: absolute;
	bottom: 120%;
	left: 0;
	background: tomato;
	padding: .5rem 1rem;
	border-radius: 1rem;
	z-index: 1;
}

.popup_error:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -1.4rem;
	left: 50%;
	transform: translateX(-50%);
	border: 8px solid transparent;
	border-top: 6px solid tomato;
}