.users {
	padding: 2rem 0;
}

.users_section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #000;
	margin-top: 3rem;
}

.pagination {}

.user_card {
	width: 23%;
	min-width: 25rem;
	flex: 1 1 1;
	border: 3px solid #000;
	background: #fff;
	position: relative;
	padding: 3rem;
	margin: 1rem;
	margin-bottom: 3rem;

}

.user_card_bg {
	transition: color .2s linear;
	text-align: center;
}

.user_card_bg:hover {
	cursor: pointer;
	/* color: #ccc; */
}


.card_avatar {
	display: inline-block;
	height: auto;
	margin-top: -5rem;
}

.user_button {
	color: rgb(197, 252, 158);
	font-size: 1.1rem;
	padding: .5rem 1rem;
}

.card_container {
	height: 0;
	opacity: 0;
	transition: all .2s linear;
}

.user_card:hover .card_container {
	height: 100px;
	opacity: 1;
	animation: show .2s linear forwards;
}


@media (max-width: 600px) {
	.user_card {
		/* display: none; */
	}
}